.image1{
    height: 45%;
    width: 24%;
    padding: 258px;
    border-radius: 64%;
    margin: -91px;
}

.div2{
    position: absolute;
    top:10%;
    left:62%;
    font-size: 12px;
}

span{
    font-size:30px;
}

a{
    text-decoration: none;
    width: 250px;
    display: grid;
    background-color: #070707;
    color: rgba(252, 250, 255, 0.98);
    border-radius: 5px;
    font-size: 22px;
}